<div class="body container">

    <!-- Kar Yağışı Bölümü -->
    <div id="snowflakeContainer">
        <p class="snowflake">❄️</p>
    </div>

    <!-- Birinci SLIDER Bölümü -->
    <section class="slide-container">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="10" aria-label="Slide 11"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="11" aria-label="Slide 12"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="12" aria-label="Slide 13"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="13" aria-label="Slide 14"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="14" aria-label="Slide 15"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="15" aria-label="Slide 16"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="16" aria-label="Slide 17"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="17" aria-label="Slide 18"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="18" aria-label="Slide 19"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="19" aria-label="Slide 20"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="20" aria-label="Slide 21"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/image/1stSlider/1st.png" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="/image/1stSlider/2nd.png" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="/image/1stSlider/3rd.png" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="/image/1stSlider/4th.png" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="/image/1stSlider/5th.png" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="/image/1stSlider/6th.png" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="/image/1stSlider/7th.png" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="/image/1stSlider/8th.png" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="/image/1stSlider/9th.png" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="/image/1stSlider/10.png" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="/image/1stSlider/11.png" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="/image/1stSlider/12.png" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="/image/1stSlider/13.png" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="/image/1stSlider/14.png" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="/image/1stSlider/15.png" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="/image/1stSlider/16.png" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="/image/1stSlider/17.png" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="/image/1stSlider/18.png" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="/image/1stSlider/19.png" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="/image/1stSlider/20.png" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="/image/1stSlider/21.png" class="d-block w-100">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <!-- Apple Reklam Bölümü -->
    <section class="apple-adv">
        <div class="row">
            <div class="app-text col-11">
                <a href="#">
                    <span class="app-text">Apple iPhone 14 Pro 512Gb Cep Telefonu 68.499 TL</span>
                </a>
            </div>

            <div class="right-icon col-1">
                <a href="#">
                    <i class='bx bxs-chevron-right'></i>
                </a>
            </div>
        </div>
    </section>

    <!-- Reklam Sonrası Kartlık -->
    <section class="card-group row row-cols-1 row-cols-md-3 g-4 ">
        <a href="#">
            <div class="card-group-member">
                <img src="/image/1stCards/card1.png" class="card-img-top" alt="1stCard">
            </div>
        </a>

        <a href="#">
            <div class="card-group-member">
                <img src="/image/1stCards/card2.png" class="card-img-top" alt="2ndCard">
            </div>
        </a>

        <a href="#">
            <div class="card-group-member">
                <img src="/image/1stCards/card3.png" class="card-img-top" alt="3rdCard">
            </div>
        </a>

        <a href="#">
            <div class="card-group-member">
                <img src="/image/1stCards/card4.png" class="card-img-top" alt="4thCard">
            </div>
        </a>

        <a href="#">
            <div class="card-group-member">
                <img src="/image/1stCards/card5.png" class="card-img-top" alt="5thCard">
            </div>
        </a>

        <a href="#">
            <div class="card-group-member">
                <img src="/image/1stCards/card6.png" class="card-img-top" alt="4thCard">
            </div>
        </a>
    </section>

    <!-- Vitrin Bölümü -->
    <section class="vitrin-genis">
        <div class="vitrin-top container">
            <div class="row">
                <span class="vitrin-product col-6">Vitrin Ürünleri</span>
                <a href="#" class="see-all col-6">
                    Tümünü Göster
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
                         viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                    </svg>
                </a>

                <div class="vitrin-top-and-products">
                    <div id="menu">
                        <button onclick="showProducts('vitrin')" class="menu-buttons">Vitrin</button>
                        <button onclick="showProducts('kitap')" class="menu-buttons">Kitap</button>
                        <button onclick="showProducts('elektronik')" class="menu-buttons">Elektronik</button>
                        <button onclick="showProducts('bebekOyuncak')" class="menu-buttons">Bebek,Oyuncak</button>
                        <button onclick="showProducts('eKitap')" class="menu-buttons">e-Kitap</button>
                        <button onclick="showProducts('ofisKirtasiye')" class="menu-buttons">Ofis,Kırtasiye</button>
                        <button onclick="showProducts('sporOutdoor')" class="menu-buttons">Spor,Outdoor</button>
                        <button onclick="showProducts('plakMuzikAleti')" class="menu-buttons">Plak,Müzik Aleti</button>
                    </div>

                    <div id="products">
                        <!-- Vitrin - Vitrin Ürünleri -->
                        <div id="vitrin" class="product-category">
                            <!-- Vitrin - Vitrin Ürün -->
                            <ul class="vitrin-list">
                                <li>
                                    <div class="elevate">
                                        <div class="vitrin-product-img">
                                            <img src="/image/Vitrin/Vitrin/hikaye-hirsizi.png">
                                        </div>
                                        <div class="vitrin-about">
                                            <div class="vitrin-product-name">Hikaye Hırsızı</div>
                                            <div class="vitrin-product-author"><b>Yazar:</b> Jean Hanff Korelitz</div>
                                            <div class="vitrin-product-publisher"><b>Yayınevi:</b> Altın Kitaplar</div>
                                            <div class="vitrin-product-price">136,50 TL</div>
                                        </div>
                                    </div>
                                </li>
                                <li>

                                    <div class="elevate">
                                        <div class="vitrin-product-img">
                                            <img src="/image/Vitrin/Vitrin/sinirsiz.png">
                                        </div>
                                        <div class="vitrin-about">
                                            <div class="vitrin-product-name">Sınırsız - Genişletilmiş Versiyon</div>
                                            <div class="vitrin-product-author"><b>Yazar:</b> Jim Kwik</div>
                                            <div class="vitrin-product-publisher"><b>Yayınevi:</b> Parola Yayınları</div>
                                            <div class="vitrin-product-price">255,50 TL</div>
                                        </div>
                                    </div>
                                </li>
                                <li>

                                    <div class="elevate">
                                        <div class="vitrin-product-img">
                                            <img src="/image/Vitrin/Vitrin/sir.png">
                                        </div>
                                        <div class="vitrin-about">
                                            <div class="vitrin-product-name">Sır</div>
                                            <div class="vitrin-product-author"><b>Yazar:</b> Domenico Starnone</div>
                                            <div class="vitrin-product-publisher"><b>Yayınevi:</b> Sahi Kitap</div>
                                            <div class="vitrin-product-price">134,00 TL</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!-- Vitrin - Kitap Ürünleri -->
                        <div id="kitap" class="product-category" style="display:none;">
                            <ul class="vitrin-list">
                                <li>
                                    <div class="elevate">
                                        <div class="vitrin-product-img">
                                            <img src="/image/Vitrin/Kitap/turk-tarihinde-iz-birakan-kadinlar.png">
                                        </div>
                                        <div class="vitrin-about">
                                            <div class="vitrin-product-name">Türk Tarihinde İz Bırakan Kadınlar</div>
                                            <div class="vitrin-product-author"><b>Yazar:</b> Okan Yeşilot , Bihter Gürışık Köksal</div>
                                            <div class="vitrin-product-publisher"><b>Yayınevi:</b> VakıfBank Kültür Yayınları</div>
                                            <div class="vitrin-product-price">233,60 TL</div>
                                        </div>
                                    </div>
                                </li>
                                <li>

                                    <div class="elevate">
                                        <div class="vitrin-product-img">
                                            <img src="/image/Vitrin/Kitap/olumcul-tahtin-senfonisi.png">
                                        </div>
                                        <div class="vitrin-about">
                                            <div class="vitrin-product-name">Ölümcül Tahtın Senfonisi</div>
                                            <div class="vitrin-product-author"><b>Yazar:</b> E. J. Mellow</div>
                                            <div class="vitrin-product-publisher"><b>Yayınevi:</b> Martı Yayınları</div>
                                            <div class="vitrin-product-price">150,00 TL</div>
                                        </div>
                                    </div>
                                </li>
                                <li>

                                    <div class="elevate">
                                        <div class="vitrin-product-img">
                                            <img src="/image/Vitrin/Kitap/acilarin-hükümdari.png">
                                        </div>
                                        <div class="vitrin-about">
                                            <div class="vitrin-product-name">Acıların Hükümdarı - Wisteria 2</div>
                                            <div class="vitrin-product-author"><b>Yazar:</b> Adora Yağmur</div>
                                            <div class="vitrin-product-publisher"><b>Yayınevi:</b> İndigo Kitap</div>
                                            <div class="vitrin-product-price">209,30 TL</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!-- Vitrin - Elektronik Ürünleri -->
                        <div id="elektronik" class="product-category" style="display:none;">
                            <ul class="vitrin-list">
                                <li>
                                    <div class="elevate">
                                        <div class="vitrin-product-img">
                                            <img src="/image/Vitrin/Elektronik/airpod.png">
                                        </div>
                                        <div class="vitrin-about">
                                            <div class="vitrin-product-name">Apple AirPods 2.Nesil Pro Beyaz /MQD83TU/A</div>
                                            <div class="vitrin-product-author"><b>Renk:</b> Beyaz</div>
                                            <div class="vitrin-product-publisher"><b>Marka:</b> Apple</div>
                                            <div class="vitrin-product-price">8.299,00 TL</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="elevate">
                                        <div class="vitrin-product-img">
                                            <img src="/image/Vitrin/Elektronik/kiwi-pets.png">
                                        </div>
                                        <div class="vitrin-about">
                                            <div class="vitrin-product-name">Kiwi Pets Otomatik Pet Su Çeşmesi</div>
                                            <div class="vitrin-product-author"><b>Renk:</b> Beyaz</div>
                                            <div class="vitrin-product-publisher"><b>Marka:</b> Kiwi</div>
                                            <div class="vitrin-product-price">429,00 TL</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="elevate">
                                        <div class="vitrin-product-img">
                                            <img src="/image/Vitrin/Elektronik/kiwi-hali.png">
                                        </div>
                                        <div class="vitrin-about">
                                            <div class="vitrin-product-name">Kiwi Kcc-4325 Koltuk Ve Halı Yıkama Makinesi</div>
                                            <div class="vitrin-product-author"><b>Renk:</b> Beyaz</div>
                                            <div class="vitrin-product-publisher"><b>Marka:</b> Kiwi</div>
                                            <div class="vitrin-product-price">6.199,00 TL</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!-- Vitrin - Bebek,Oyuncak Ürünleri -->
                        <div id="bebekOyuncak" class="product-category" style="display:none;">
                            <ul class="vitrin-list">
                                <li>
                                    <div class="elevate">
                                        <div class="vitrin-product-img">
                                            <img src="/image/Vitrin/Bebek/bebek-arabasi.png">
                                        </div>
                                        <div class="vitrin-about">
                                            <div class="vitrin-product-name">Inglesina Trilogy Bebek Arabası</div>
                                            <div class="vitrin-product-author"><b>Renk:</b> Gri</div>
                                            <div class="vitrin-product-publisher"><b>Marka:</b> Inglesina</div>
                                            <div class="vitrin-product-price">32.792,00 TL</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="elevate">
                                        <div class="vitrin-product-img">
                                            <img src="/image/Vitrin/Bebek/Dino.png">
                                        </div>
                                        <div class="vitrin-about">
                                            <div class="vitrin-product-name">Playmobil Deinonychus 71264</div>
                                            <div class="vitrin-product-author"><b>Renk:</b> Yeşil</div>
                                            <div class="vitrin-product-publisher"><b>Marka:</b> Playmobil Adventure</div>
                                            <div class="vitrin-product-price">479,95 TL</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="elevate">
                                        <div class="vitrin-product-img">
                                            <img src="/image/Vitrin/Bebek/bebek-cantasi.png">
                                        </div>
                                        <div class="vitrin-about">
                                            <div class="vitrin-product-name">Wellgro Bebek Bakım Çantası</div>
                                            <div class="vitrin-product-author"><b>Renk:</b> Siyah</div>
                                            <div class="vitrin-product-publisher"><b>Marka:</b> Wellgro</div>
                                            <div class="vitrin-product-price">599,90 TL</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!-- Vitrin - eKitap Ürünleri -->
                        <div id="eKitap" class="product-category" style="display:none;">
                            <ul class="vitrin-list">
                                <li>
                                    <div class="elevate">
                                        <div class="vitrin-product-img">
                                            <img src="/image/Vitrin/eKitap/kirmizi-pazartesi.png">
                                        </div>
                                        <div class="vitrin-about">
                                            <div class="vitrin-product-name">Kırmızı Pazartesi</div>
                                            <div class="vitrin-product-author"><b>Yazar:</b> Gabriel Garcia Marquez</div>
                                            <div class="vitrin-product-publisher"><b>Yayınevi:</b> Can Yayınları</div>
                                            <div class="vitrin-product-price">26,00 TL</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="elevate">
                                        <div class="vitrin-product-img">
                                            <img src="/image/Vitrin/eKitap/markalasan-kadinlar.png">
                                        </div>
                                        <div class="vitrin-about">
                                            <div class="vitrin-product-name">Markalaşan Kadınlar</div>
                                            <div class="vitrin-product-author"><b>Yazar:</b> Catherine Kaputa , Catherine Kaputa</div>
                                            <div class="vitrin-product-publisher"><b>Yayınevi:</b> Mediacat Yayıncılık</div>
                                            <div class="vitrin-product-price">75,00 TL</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="elevate">
                                        <div class="vitrin-product-img">
                                            <img src="/image/Vitrin/eKitap/simdiki-cocuklar-harika.png">
                                        </div>
                                        <div class="vitrin-about">
                                            <div class="vitrin-product-name">Şimdiki Çocuklar Harika</div>
                                            <div class="vitrin-product-author"><b>Yazar:</b> Aziz Nesin</div>
                                            <div class="vitrin-product-publisher"><b>Yayınevi:</b> Nesin Yayınevi</div>
                                            <div class="vitrin-product-price">23,00 TL</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!-- Vitrin - Ofis Kırtasiye Ürünleri -->
                        <div id="ofisKirtasiye" class="product-category" style="display:none;">
                            <ul class="vitrin-list">
                                <li>
                                    <div class="elevate">
                                        <div class="vitrin-product-img">
                                            <img src="/image/Vitrin/Ofis/ece-mavi.png">
                                        </div>
                                        <div class="vitrin-about">
                                            <div class="vitrin-product-name">2024 Ajandası 12x16 Çizgili Günlük Ajanda</div>
                                            <div class="vitrin-product-author"><b>Renk:</b> Turkuvaz</div>
                                            <div class="vitrin-product-publisher"><b>Marka:</b> Ece</div>
                                            <div class="vitrin-product-price">241,90 TL</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="elevate">
                                        <div class="vitrin-product-img">
                                            <img src="/image/Vitrin/Ofis/ece-pembe.png">
                                        </div>
                                        <div class="vitrin-about">
                                            <div class="vitrin-product-name">2024 Ajandası  12x16 Çizgili Günlük Ajanda</div>
                                            <div class="vitrin-product-author"><b>Renk:</b> Pembe</div>
                                            <div class="vitrin-product-publisher"><b>Marka:</b> Ece</div>
                                            <div class="vitrin-product-price">224,90 TL</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="elevate">
                                        <div class="vitrin-product-img">
                                            <img src="/image/Vitrin/Ofis/gipta-siyah.png">
                                        </div>
                                        <div class="vitrin-about">
                                            <div class="vitrin-product-name">
                                                Gıpta 109-Ctk Creative Diary 17X24 Günlük Aj.
                                            </div>
                                            <div class="vitrin-product-author"><b>Renk:</b> Siyah</div>
                                            <div class="vitrin-product-publisher"><b>Marka:</b> Gıpta</div>
                                            <div class="vitrin-product-price">79,90 TL</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!-- Vitrin - Spor,Outdoor Ürünleri -->
                        <div id="sporOutdoor" class="product-category" style="display:none;">
                            <ul class="vitrin-list">
                                <li>
                                    <div class="elevate">
                                        <div class="vitrin-product-img">
                                            <img src="/image/Vitrin/Outdoor/kamp-sandalyesi.png">
                                        </div>
                                        <div class="vitrin-about">
                                            <div class="vitrin-product-name">Bofigo Kamp Sandalyesi Rejisör</div>
                                            <div class="vitrin-product-author"><b>Renk:</b> Yeşil</div>
                                            <div class="vitrin-product-publisher"><b>Marka:</b> Bofigo X</div>
                                            <div class="vitrin-product-price">299,90 TL</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="elevate">
                                        <div class="vitrin-product-img">
                                            <img src="/image/Vitrin/Outdoor/scooter.png">
                                        </div>
                                        <div class="vitrin-about">
                                            <div class="vitrin-product-name">Ducati Pro-I Uno Elektrikli Scooter</div>
                                            <div class="vitrin-product-author"><b>Renk:</b> Siyah</div>
                                            <div class="vitrin-product-publisher"><b>Marka:</b> Ducati</div>
                                            <div class="vitrin-product-price">16.999,90 TL</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="elevate">
                                        <div class="vitrin-product-img">
                                            <img src="/image/Vitrin/Outdoor/termos.png">
                                        </div>
                                        <div class="vitrin-about">
                                            <div class="vitrin-product-name">1200P 2Lt Çelik Termos</div>
                                            <div class="vitrin-product-author"><b>Renk:</b> Siyah / Gri</div>
                                            <div class="vitrin-product-publisher"><b>Marka:</b> Penguen</div>
                                            <div class="vitrin-product-price">379,90 TL</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!-- Vitrin - Plak,Müzik Aleti -->
                        <div id="plakMuzikAleti" class="product-category" style="display:none;">
                            <ul class="vitrin-list">
                                <li>
                                    <div class="elevate">
                                        <div class="vitrin-product-img">
                                            <img src="/image/Vitrin/Plak/keman.png">
                                        </div>
                                        <div class="vitrin-about">
                                            <div class="vitrin-product-name">VL-1B 1/2 Mat Keman (8-10 Yaş)</div>
                                            <div class="vitrin-product-author"><span style="color:red; font-weight:bold; background-color:#FDEBEC;"><i class="fa-regular fa-clock"></i> Son 1 ürün</span></div>
                                            <div class="vitrin-product-publisher"><b>Marka:</b> Vanetta</div>
                                            <div class="vitrin-product-price">1.869,00 TL</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="elevate">
                                        <div class="vitrin-product-img">
                                            <img src="/image/Vitrin/Plak/Ataturk.png">
                                        </div>
                                        <div class="vitrin-about">
                                            <div class="vitrin-product-name">Atatürk'ün Sevdiği Şarkılar</div>
                                            <div class="vitrin-product-author"><b>Her zaman minnetle ∞!</b></div>
                                            <div class="vitrin-product-publisher">
                                                <i class='rat bx bxs-star'></i>
                                                <i class='rat bx bxs-star'></i>
                                                <i class='rat bx bxs-star'></i>
                                                <i class='rat bx bxs-star'></i>
                                                <i class='rat bx bxs-star'></i>
                                                <div class="vitrin-product-price">280,20 TL</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="elevate">
                                        <div class="vitrin-product-img">
                                            <img src="/image/Vitrin/Plak/gitar.png">
                                        </div>
                                        <div class="vitrin-about">
                                            <div class="vitrin-product-name">Kozmos Sunburst Elektro Gitar</div>
                                            <div class="vitrin-product-author"><span style="color:red; font-weight:bold; background-color:#FDEBEC;"><i class="fa-regular fa-clock"></i> Son 3 Gün</span></div>
                                            <div class="vitrin-product-publisher"><b>Marka:</b> Kozmos</div>
                                            <div class="vitrin-product-price">7.919,90 TL</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Öne Çıkan Kitaplar Bölümü -->
    <section class="featured-products">
        <div class="featured-top container">
            <div class="row">
                <span class="featured-topic col-6">Öne Çıkan Kitaplar</span>
                <a href="#" class="featured-see-all col-6">
                    Tümünü Göster
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
                         viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                    </svg>
                </a>
            </div>
        </div>

        <div class="featured-books">
            <div class="card">
                <h3 class="title">
                    Komple Teorileri <br><b>Ayhan TARAKCI</b><br><b>
                        <span style="color: #4299BC;">77,35 TL</span>
                    </b><br><span style="background-color: #F9F6E5;">Yediveren Yayınları</span>
                </h3>
                <span class="featured-new" style="padding-left: 7px;">YENİ</span>
                <div class="bar">
                    <div class="emptybar"></div>
                    <div class="filledbar"></div>
                </div>
                <div class="circle">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <image href="/image/featured-books/one1.png" x="10" y="10" width="100" height="100"
                               style="border-radius: 50%;" />
                               
                    </svg>
                </div>
            </div>


            <div class="card">
                <h3 class="title">
                    Sonbaharda Yapılabilecek 50 Etkinlik - Macera Günlüğüm <br><b>
                        Kim
                        Hankinson
                    </b><br><b><span style="color: #4299BC;">32,65 TL</span></b><br><span style="background-color: #F9F6E5;">İş Bankası Kültür Yayınları</span>
                </h3>
                <span class="featured-new" style="padding-left: 7px;">YENİ</span>
                <div class="bar">
                    <div class="emptybar"></div>
                    <div class="filledbar"></div>
                </div>
                <div class="circle">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <image href="/image/featured-books/one2.png" x="10" y="10" width="100" height="100"
                               border-radius="50%"";/>
                    </svg>
                </div>
            </div>

            <div class="card">
                <h3 class="title">
                    Milyon Dolarlık Adam <br><b>Genki Kawamura</b><br><b>
                        <span style="color: #4299BC;">109,20 TL</span>
                    </b><br><span style="background-color: #F9F6E5;">Doğan Kitap</span>
                </h3>
                <span class="featured-new" style="padding-left: 7px;">YENİ</span>
                <div class="bar">
                    <div class="emptybar"></div>
                    <div class="filledbar"></div>
                </div>
                <div class="circle">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <image href="/image/featured-books/one3.png" x="10" y="10" width="100" height="100"
                               style="border-radius:50%;" />
                    </svg>
                </div>
            </div>

            <div class="card">
                <h3 class="title">
                    Olağanüstü Sıradışı ve Mükemmel <br><b>J. Hakan Dedeoğlu</b><br><b>
                        <span style="color: #4299BC;">80,65 TL</span>
                    </b><br><span style="background-color: #F9F6E5;">April Yayıncılık</span>
                </h3>
                <span class="featured-new" style="padding-left: 7px;">YENİ</span>
                <div class="bar">
                    <div class="emptybar"></div>
                    <div class="filledbar"></div>
                </div>
                <div class="circle">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <image href="/image/featured-books/one4.png" x="10" y="10" width="100" height="100"
                               style="border-radius:50%;" />
                    </svg>
                </div>
            </div>

            <div class="card">
                <h3 class="title">
                    How I Met Your Mother: İlişkiler Kitabı<br><b>
                        Kolektif
                    </b><br><b><span style="color: #4299BC;">118,30 TL</span></b><br><span style="background-color: #F9F6E5;">Teras Kitap</span>
                </h3>
                <span class="featured-new" style="padding-left: 7px;">YENİ</span>
                <div class="bar">
                    <div class="emptybar"></div>
                    <div class="filledbar"></div>
                </div>
                <div class="circle">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <image href="/image/featured-books/one5.png" x="10" y="10" width="100" height="100"
                               style="border-radius:50%;" />
                    </svg>
                </div>
            </div>
        </div>
    </section>

    <!-- Kataloglar Bölümü -->
    <section class="catalogs">
        <div class="row">
            <div class="col-6">
                <a href="#">
                    <img src="/image/catalog/katalog1.png" style="width: 100%;">
                </a>
            </div>
            <div class="col-6">
                <a href="#">
                    <img src="/image/catalog/katalog2.png" style="width: 100%;">
                </a>
            </div>
        </div>
        <div class="catalogs-part2">
            <div class="row">
                <div class="col-3">
                    <a href="#">
                        <img src="/image/catalog/katalog3.png">
                    </a>
                </div>
                <div class="col-3">
                    <a href="#">
                        <img src="/image/catalog/katalog4.png">
                    </a>
                </div>
                <div class="col-3">
                    <a href="#">
                        <img src="/image/catalog/katalog5.png">
                    </a>
                </div>
                <div class="col-3">
                    <a href="#">
                        <img src="/image/catalog/katalog6.png">
                    </a>
                </div>
            </div>
        </div>
    </section>


    <!-- Oyuncaklar Bölümü -->
    <section class="the-most-toys">
        <div class="toys-top container">
            <div class="row">
                <span class="toys-topic col-6">En Sevilen Oyuncaklar</span>
                <a href="#" class="toys-see-all col-6">
                    Tümünü Göster
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
                         viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                    </svg>
                </a>
            </div>
        </div>

        <div class="toys-card">
            <div class="toys-1">
                <div class="toys">
                    <span class="free-cargo">Kargo Bedava</span>
                    <img class="toys-img" src="/image/Toys/Toys-1.png">
                </div>
                <div class="toys-about">
                    <div class="toys-rating" style="padding-top: 9.7px;">
                        <i class='rat bx bxs-star'></i>
                        <i class='rat bx bxs-star'></i>
                        <i class='rat bx bxs-star'></i>
                        <i class='rat bx bxs-star'></i>
                        <i class='rat bx bxs-star-half'></i>
                        <i class='rat bx bx-star'></i><span class="toys-rating">(61)
                    </div>
                    <div class="toys-name" style="padding-top: 22px;">
                        <span>Hasbro Jenga A2120</span>
                    </div>
                    <div class="toys-price" style="padding-top: 55px;">
                        <span class="toys-price">610,35 TL</span>
                    </div>
                </div>
                <div class="toys-button" style="padding-right: 10px; padding-top:5px;">
                    <button class="browse-button" type="submit">Göz At</button>
                </div>
            </div>

            <div class="toys-2">
                <div class="toys">
                    <span class="free-cargo">Kargo Bedava</span>
                    <img class="toys-img" src="/image/Toys/Toys-2.png">
                </div>
                <div class="toys-about">
                    <div class="toys-rating" style="padding-top: 23px;">
                        <i class='rat bx bxs-star'></i>
                        <i class='rat bx bxs-star'></i>
                        <i class='rat bx bxs-star-half'></i>
                        <i class='rat bx bx-star'></i>
                        <i class='rat bx bx-star'></i>
                        <i class='rat bx bx-star'></i><span class="toys-rating">(34)
                    </div>
                    <div class="toys-name" style="padding-top: 24px;">
                        <span>Elmer's Simli Slime Seti</span>
                    </div>
                    <div class="toys-price" style="padding-top: 52px;">
                        <span class="toys-price">470,55 TL</span>
                    </div>
                </div>
                <div class="toys-button" style="padding-right: 10px; padding-top: 8px;">
                    <button class="browse-button" type="submit">Göz At</button>
                </div>
            </div>

            <div class="toys-3">
                <div class="toys">
                    <span class="free-cargo">Kargo Bedava</span>
                    <img class="toys-img" src="/image/Toys/Toys-3.png">
                </div>
                <div class="toys-about">
                    <div class="toys-rating" style="padding-top: 22px;">
                        <i class='rat bx bx-star'></i>
                        <i class='rat bx bx-star'></i>
                        <i class='rat bx bx-star'></i>
                        <i class='rat bx bx-star'></i>
                        <i class='rat bx bx-star'></i>
                        <i class='rat bx bx-star'></i><span class="toys-rating">(6)
                    </div>
                    <div class="toys-name" style="padding-top: 21px;">
                        <span>Ks Games Yasak Kelimeler XXL 25111</span>
                    </div>
                    <div class="toys-price" style="padding-top: 29px;">
                        <span class="toys-price">797,30 TL</span>
                    </div>
                </div>
                <div class="toys-button" style="padding-right: 10px; padding-top:10.4px;">
                    <button class="browse-button" type="submit">Göz At</button>
                </div>
            </div>

            <div class="toys-4">
                <div class="toys">
                    <span class="free-cargo">Kargo Bedava</span>
                    <img class="toys-img" src="/image/Toys/Toys-4.png">
                </div>
                <div class="toys-about">
                    <div class="toys-rating" style="padding-top: 6px;">
                        <i class='rat bx bxs-star'></i>
                        <i class='rat bx bxs-star'></i>
                        <i class='rat bx bxs-star'></i>
                        <i class='rat bx bx-star'></i>
                        <i class='rat bx bx-star'></i>
                        <i class='rat bx bx-star'></i><span class="toys-rating">(34)
                    </div>
                    <div class="toys-name" style="padding-top: 20px;">
                        <span>DiyToy Bebeğimin İlk Zeka Kartları</span>
                    </div>
                    <div class="toys-price" style="padding-top: 33px;">
                        <span class="toys-price">74,95 TL</span>
                    </div>
                </div>
                <div class="toys-button" style="padding-right: 10px; padding-top:7px;">
                    <button class="browse-button" type="submit">Göz At</button>
                </div>
            </div>

            <div class="toys-5">
                <div class="toys">
                    <span class="free-cargo">Kargo Bedava</span>
                    <img class="toys-img" src="/image/Toys/Toys-5.png">
                </div>
                <div class="toys-about">
                    <div class="toys-rating" style="padding-top: 20px;">
                        <i class='rat bx bxs-star'></i>
                        <i class='rat bx bxs-star'></i>
                        <i class='rat bx bxs-star'></i>
                        <i class='rat bx bxs-star'></i>
                        <i class='rat bx bxs-star'></i>
                        <i class='rat bx bxs-star-half'></i><span class="toys-rating">(45)
                    </div>
                    <div class="toys-name" style="padding-top: 20px;">
                        <span>Clementoni Bilim ve Oyun Yanardağlar ve Volkanik Patlamalar 64193</span>
                    </div>
                    <div class="toys-price" style="padding-top: 10px;">
                        <span class="toys-price">431,55 TL</span>
                    </div>
                </div>
                <div class="toys-button" style="padding-right: 10px; padding-top:7.4px;">
                    <button class="browse-button" type="submit">Göz At</button>
                </div>
            </div>
        </div>
    </section>

    <!-- İş Ortağı Markalar Bölümü -->

    <section class="brands">
        <ul class="brands-list">
            <li>
                <a href="#">
                    <img src="/image/brands/faber.jpg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/image/brands/lego.jpg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/image/brands/turkuvaz.jpg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/image/brands/yky.jpg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/image/brands/mi.jpg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/image/brands/rakuten.jpg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/image/brands/fujifilm.jpg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/image/brands/can.jpg">
                </a>
            </li>
        </ul>
    </section>

    <!-- Markalar ile Manga Arasındaki Kartlar -->
    <section class="post-brand-cards">
        <div class="row">
            <div class="col-4">
                <a href="#" target="_blank">
                    <img src="/image/markasonrasicards/markasonrasicard1.jpg">
                </a>
            </div>
            <div class="col-4 mx-auto">
                <a href="#" target="_blank">
                    <img src="/image/markasonrasicards/markasonrasicard2.jpg">
                </a>
            </div>
            <div class="col-4">
                <a href="#" target="_blank">
                    <img src="/image/markasonrasicards/markasonrasicard3.jpg">
                </a>
            </div>
        </div>
    </section>

    <!-- Manga/Çizgi Roman Bölümü -->
    <section class="manga-graphic-novels">
        <div class="manga-graphic-novels-top">
            <div class="row">
                <span class="manga-graphic-novels-topic col-10">Manga/Çizgi Roman</span>
                <a href="#" class="manga-graphic-novels-see-all col-2">
                    Tümünü Göster
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                    </svg>
                </a>
            </div>
        </div>

        <div class="manga-card">
            <div class="row">
                <div class="manga-1">
                    <!-- MANGA -1 -->
                    <div class="card-manga">
                        <img src="/image/Manga/mangav1.png">
                        <div class="card-content">
                            <h2 style="color:yellow">
                                True Beauty Cilt - 5
                            </h2>
                            <span class="manga-free-cargo">Kargo Bedava</span>
                            <p>
                                <b style="color:red">Yazar:</b> Yaongyi<br>
                                <b style="color:red">Yayınevi:</b> Athica Yayınları<br>
                                <u>246,50 TL</u><br>
                                <i class='rat bx bxs-star'></i>
                                <i class='rat bx bxs-star'></i>
                                <i class='rat bx bxs-star'></i>
                                <i class='rat bx bxs-star'></i>
                                <i class='rat bx bxs-star'></i>
                                <span style="font-size: 12px;">(1)</span>
                            </p>
                            <a href="#" class="manga-button">
                                <span style="color:green;">Ürünü İncele</span>
                                <span class="material-symbols-outlined" style="color:green;">
                                    arrow_right_alt
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="manga-2">
                    <!-- MANGA -2 -->
                    <div class="card-manga">
                        <img src="/image/Manga/mangav2.png">
                        <div class="card-content">
                            <h2 style="color:yellow">
                                Medalist 02 : Tsurumaikada
                            </h2>
                            <span class="manga-cover">İnce Kapak</span>
                            <p>
                                <b style="color:red">Yazar:</b> Tsurumaikada<br>
                                <b style="color:red">Çevirmen:</b> Cihan Yorulmaz
                                <b style="color:red">Yayınevi:</b> Akılçelen Kitaplar<br>
                                <u>80,30 TL</u><br>
                                <i class='rat bx bxs-star'></i>
                                <i class='rat bx bxs-star'></i>
                                <i class='rat bx bxs-star'></i>
                                <i class='rat bx bxs-star-half'></i>
                                <i class='rat bx bx-star'></i>
                                <span style="font-size: 12px;">(3)</span>
                            </p>
                            <a href="#" class="manga-button">
                                <span style="color:green;">Ürünü İncele</span>
                                <span class="material-symbols-outlined" style="color:green;">
                                    arrow_right_alt
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="manga-3">
                    <!-- MANGA -3 -->
                    <div class="card-manga">
                        <img src="/image/Manga/mangav3.png">
                        <div class="card-content">
                            <h2 style="color:yellow">
                                Güzel Kokulu Çiçekler Zarafetle Açar Cilt - 1
                            </h2>
                            <span class="manga-new">Yeni</span>
                            <p>
                                <b style="color:red">Yazar:</b> Saka Mikami<br>
                                <b style="color:red">Yayınevi:</b> Saka Mikami<br>
                                <u>80,30 TL</u><br>
                                <i class='rat bx bxs-star'></i>
                                <i class='rat bx bxs-star'></i>
                                <i class='rat bx bxs-star'></i>
                                <i class='rat bx bxs-star'></i>
                                <i class='rat bx bxs-star'></i>
                                <span style="font-size: 12px;">(61)</span>
                            </p>
                            <a href="#" class="manga-button">
                                <span style="color:green;">Ürünü İncele</span>
                                <span class="material-symbols-outlined" style="color:green;">
                                    arrow_right_alt
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Son Kartlar Bölümü -->
    <section class="last-cards">
        <div class="row">
            <div class="col-4">
                <a href="#"><img src="/image/last-cards/last-card-1-v1.png"></a>
            </div>
            <div class="col-4">
                <a href="#"><img src="/image/last-cards/last-card-2-v2.png"></a>
            </div>
            <div class="col-4">
                <a href="#"><img src="/image/last-cards/last-card-3-v1.png"></a>
            </div>
        </div>
    </section>

    <!-- Haftanın Fırsatları Bölümü -->
    <section class="the-weeek-opportunity">
        <div class="opportunity-top container">
            <div class="row">
                <span class="opportunity-topic col-6">Haftanın Fırsatları</span>
                <a href="#" class="opportunity-see-all col-6">
                    Tümünü Göster
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                    </svg>
                </a>
            </div>
        </div>

        <div class="gallery-top">
            <div class="gallery">
                <figure class="gallery-card">
                    <img src="/image/Opportunity/opp-1-v1.png">
                </figure>
                <figure class="gallery-card">
                    <img src="/image/Opportunity/opp-2-v2.png">
                </figure>
                <figure class="gallery-card">
                    <img src="/image/Opportunity/opp-3-v1.png">
                </figure>
                <figure class="gallery-card">
                    <img src="/image/Opportunity/opp-4-v1.png">
                </figure>
                <figure class="gallery-card">
                    <img src="/image/Opportunity/opp-5-v1.png">
                </figure>
                <figure class="gallery-card">
                    <img src="/image/Opportunity/opp-6-v1.png">
                </figure>
                <figure class="gallery-card">
                    <img src="/image/Opportunity/opp-8-v1.png">
                </figure>
                <figure class="gallery-card">
                    <img src="/image/Opportunity/opp-9-v1.png">
                </figure>
                <figure class="gallery-card">
                    <img src="/image/Opportunity/opp-10-v1.png">
                </figure>
                <figure class="gallery-card">
                    <img src="/image/Opportunity/opp-11-v1.png">
                </figure>
                <figure class="gallery-card">
                    <img src="/image/Opportunity/opp-12-v1.png">
                </figure>
            </div>
        </div>
    </section>

    <section class="dr-discover">
        <div class="discover-top">
            <span class="discover-topic">D&R'ı Keşfet</span>
        </div>

        <div class="product-discover">
            <ul class="product-list">
                <li>
                    <a href="#" class="product-link">
                        <img src="/image/discover/urun1.png">
                        <span class="product-genre">Elektronik</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="product-link">
                        <img src="/image/discover/urun2.png">
                        <span class="product-genre">Roman</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="product-link">
                        <img src="/image/discover/urun3.png">
                        <span class="product-genre">Çocuk Kitapları</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="product-link">
                        <img src="/image/discover/urun4.png">
                        <span class="product-genre">Kişisel Gelişim</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="product-link">
                        <img src="/image/discover/urun5.png">
                        <span class="product-genre">Çizgi Roman/Manga</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="product-link">
                        <img src="/image/discover/urun6.png">
                        <span class="product-genre">Yabancı Kitap</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="product-link">
                        <img src="/image/discover/urun7.png">
                        <span class="product-genre">Plaklar</span>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</div>